@model Demo_v2.Models.Lugar

@{
    ViewBag.Title = "Details";
}


<script type="text/javascript"
     src="http://code.jquery.com/jquery-latest.pack.js"></script>
<style>
 
/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
  height:auto;
}
   
#boxes .window 
{
  position:absolute;
  width:840px;
  height:700px;
  display:none;
  z-index:9999;
  padding:20px;
}
 
 
/* Customize your modal window here, you can add background image too */
#boxes #dialog 
{
  padding-top: 200px;
  width:840px; 
  height:700px;
}
</style>

   <script>

       $(document).ready(function () {

           //select all the a tag with name equal to modal
           $('a[name=modal]').click(function (e) {
               //Cancel the link behavior
               e.preventDefault();
               //Get the A tag
               var id = $(this).attr('href');

               //Get the screen height and width
               var maskHeight = $(document).height();
               var maskWidth = $(window).width();

               //Set height and width to mask to fill up the whole screen
               $('#mask').css({ 'width': maskWidth, 'height': maskHeight });

               //transition effect		
               $('#mask').fadeIn(1000);
               $('#mask').fadeTo("slow", 0.8);

               //Get the window height and width
               var winH = $(window).height();
               var winW = $(window).width();

               //Set the popup window to center
               $(id).css('top', winH / 2 - $(id).height() / 2);
               $(id).css('left', winW / 2 - $(id).width() / 2);

               //transition effect
               $(id).fadeIn(2000);

           });

           //if close button is clicked
           $('.window .close').click(function (e) {
               //Cancel the link behavior
               e.preventDefault();
               $('#mask, .window').hide();
           });

           //if mask is clicked
           $('#mask').click(function () {
               $(this).hide();
               $('.window').hide();
           });

       });

       function showAndClearField(frm,lug){
  if (frm.firstName.value == "")
      alert("Hey! You didn't enter anything!")
  else
      alert("The field contains the text: " + frm.firstName.value)
  frm.firstName.value = ""
 

   @Html.ActionLink("Link para compartir", "Show", new {idLugar = lug, mensaje = frm.firstName.value})
}
    

</script>
<a href="#dialog" name="modal">Plano Salas A</a>
<br />
<a href="#d" name="modal">cosa 2</a>
 
<div id="boxes">
 
     
    <!-- #customize your modal window here -->
 
    <div id="dialog" class="window" >
   <center><h1>Salas A</h1>
       <img  float="left" src="../../Images/Pisos/salasA.png" />
        <p>Piso 1</p>
        <!-- close button is defined as close class -->
        <a href="#" class="close">Close it</a></center>
 
    </div>
 
  <div id="d" class="window">
        <img src="../../Content/Propuesta/images/logo.png" /> 
        <p>SOY UNA COSA DIFERENTE</p>
        <!-- close button is defined as close class -->
        <a href="#" class="close">Close it</a>
 
    </div>

     
    <!-- Do not remove div#mask, because you'll need it to fill the whole screen --> 
    <div id="mask"></div>
</div>



<h2>@Model.Nombre</h2>
<br />
<p>@Model.Descripcion</p>
<br />
@if (Model.LugarContenedor != null)
{
    <p>Es parte de @Model.LugarContenedor.Nombre</p>
    <br />
}


<br />
<h3>Categorías</h3>
<ul>
    @foreach (var categoria in Model.Categoria)
    {
        <li>@Html.ActionLink(categoria.Nombre, "Search", "Lugares", new { idCategoria = categoria.Id }, null)</li>
    }
</ul>
<br /><br />

<h1>¿Compartir el lugar?</h1>

<FORM NAME="test">
<p>Escribe un mensaje (opcional)</p><INPUT TYPE="TEXT" NAME="firstName"><BR><BR>
<INPUT TYPE="Button" Value="Crear link para compartir" onClick="showAndClearField(this.form,@Model.Id)">
</P>
</FORM>


<br />

  <div class="fb-comments" data-href="http://www.spotit.somee.com" data-num-posts="2" data-width="470"></div>
<br />
<hr />
@Html.ActionLink("Volver", "Index")
