@model Demo_v2.Models.Lugar 

@{
    ViewBag.Title = "Details";
}

<script type="text/javascript"
     src="http://code.jquery.com/jquery-latest.pack.js"></script>
<style>
 
/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
  height:auto;
}
   
#boxes .window 
{
  position:absolute;
  width:840px;
  height:700px;
  display:none;
  z-index:9999;
  padding:20px;
}
 
 
/* Customize your modal window here, you can add background image too */
#boxes #dialog 
{
  padding-top: 200px;
  width:840px; 
  height:700px;
}
</style>

   <script>

       $(document).ready(function () {

           //select all the a tag with name equal to modal
           $('a[name=modal]').click(function (e) {
               //Cancel the link behavior
               e.preventDefault();
               //Get the A tag
               var id = $(this).attr('href');

               //Get the screen height and width
               var maskHeight = $(document).height();
               var maskWidth = $(window).width();

               //Set height and width to mask to fill up the whole screen
               $('#mask').css({ 'width': maskWidth, 'height': maskHeight });

               //transition effect		
               $('#mask').fadeIn(1000);
               $('#mask').fadeTo("slow", 0.8);

               //Get the window height and width
               var winH = $(window).height();
               var winW = $(window).width();

               //Set the popup window to center
               $(id).css('top', winH / 2 - $(id).height() / 2);
               $(id).css('left', winW / 2 - $(id).width() / 2);

               //transition effect
               $(id).fadeIn(2000);

           });

           //if close button is clicked
           $('.window .close').click(function (e) {
               //Cancel the link behavior
               e.preventDefault();
               $('#mask, .window').hide();
           });

           //if mask is clicked
           $('#mask').click(function () {
               $(this).hide();
               $('.window').hide();
           });

       });


       
function showAndClearField(){

    var a = document.getElementById("xyz");
    var link = "http://www.spotit.somee.com/Lugares/Show"+"?idLugar=" +@Model.Id + "&mensaje=" + a.value;

      //  alert("The field contains the text: " + link );


    document.getElementById("p").innerText = link;
    //alert(link);
    //document.getElementById("p").href = link;
    document.getElementById("p").style.display = "block";
    document.getElementById("texto").style.display = "block";
   

   
}
     
      

</script>
<script>
    function abrir(url) {
        open(url, '', 'top=100,left=100,width=500,height=250');
    }
</script> 
    <br />
    <div id="dialog" style="display:none;" class="window">
   <center><h1>Salas A</h1>
       <img  float="left" src="../../Images/Pisos/salasA.png" />
        <p>Piso 1</p>
        <!-- close button is defined as close class -->
        <a href="#" class="close">Close it</a></center>
 
    </div>
   <br />
    <div id="dialog2" style="display:none;" class="window" >
   <center><h1>Salas B</h1>
       <p>Piso 1</p>
       <img  float="left" src="../../Images/Pisos/SalasB_p1.png" />
        <p>Piso 2</p>
        <img  float="left" src="../../Images/Pisos/SalasB_p2.png" />
        <!-- close button is defined as close class -->
        <a href="#" class="close" >Close it</a></center>
 
    </div>



<center>
<h2>@Model.Nombre</h2>
<br />
<p>@Model.Descripcion</p>
<br />
 <div id="boxes">    
    <!-- #customize your modal window here -->
 @if(Model.Id>=5 && Model.Id<9){
     <a href="#dialog" name="modal">Plano Salas A</a>

 }
    else if((Model.Id>=37&&Model.Id<50)||Model.Id==172){
             <a href="#dialog2" name="modal">Plano Salas B</a> 
    }
  <div id="d" class="window">
        <img src="../../Content/Propuesta/images/logo.png" /> 
        <p>SOY UNA COSA DIFERENTE</p>
        <!-- close button is defined as close class -->
        <a href="#" class="close">Close it</a>
 
    </div>

     
    <!-- Do not remove div#mask, because you'll need it to fill the whole screen --> 
    <div id="mask"></div>
</div>
 <br />
@if (Model.LugarContenedor != null)
{
    <p>Es parte de @Model.LugarContenedor.Nombre</p>
    <br />
}


<br />
<h3>Categorías</h3>
<ul>
    @foreach (var categoria in Model.Categoria)
    {
        <li>@Html.ActionLink(categoria.Nombre, "Search", "Lugares", new { idCategoria = categoria.Id }, null)</li>
    }
</ul>
<br /><br />
    <FORM NAME="test" >
<H2>Escribe un mensaje para enviar junto al enlace</H2><br /><br />
<p><INPUT id="xyz" TYPE="TEXT" NAME="firstName"><BR><BR>
<a style="float:none" class="button_1" onClick="showAndClearField()">Generar enlace</a>
</P>
</FORM> <br /><br />
<h1 id="texto" style="display:none">¿Compartir el lugar? Copia el siguiente link</h1>

  <!-- @Html.ActionLink(Url.Action("Show", "www.spotit.somee.com"+@HttpContext.Current.Request.Url.AbsolutePath, new { idLugar = @Model.Id }), "Show", new { idLugar = @Model.Id })-->
  
    
  
    <a id="p" style="display:none; font-size:24px;" >enlace</a>
<br />
<a class="button_1" href="javascript:abrir('http://www.facebook.com/sharer.php?u=http://www.spotit.somee.com\@HttpContext.Current.Request.Url.AbsolutePath?idLugar=@Model.Id')" target="_blank"> Compartir en Fb </a>
<br />
 <a class="button_1" href="javascript:abrir('http://twitter.com/share?url=http://www.spotit.somee.com\@HttpContext.Current.Request.Url.AbsolutePath?idLugar=@Model.Id')" target="_blank"> Compartir en Twitter </a>

        <br />

<br />
   
  <div class="fb-comments" data-href="http://www.spotit.somee.com\@HttpContext.Current.Request.Url.AbsolutePath?idLugar=@Model.Id" data-num-posts="2" data-width="470"></div></center>
    
<br />

<hr />
@Html.ActionLink("Volver", "Index")
