@model DateTime

@{
    ViewBag.Title = "Index";
    
    string[] horarios = new string[]
    {
        "08.30-09.50",
        "10.00-11.20",
        "11.30-12.50",
        "14.00-15.20",
        "15.30-16.50",
        "17.00-18.20",
        "18.30-19.50",
        "20.00-21.20"  
    };
}

<h1>Buscador de Salas Vacías</h1>
<h2>Mostrando disponibilidad para semana del @Model.Day / @Model.Month</h2>

<form action="/Salas/Search" method="get">
    <div style="width:30%;float:left;text-align:center; vertical-align:middle">
	    <h2>Seleccione los horarios en que necesita la sala</h2>
        <br />
	    <table style="width:75%">
		    <tr>
                <th>Módulo</th>
			    <th>Horario</th>
			    <th>L</th>
			    <th>M</th>
			    <th>W</th>
			    <th>J</th>
			    <th>V</th>
			    <th>S</th>
		    </tr>
            @for (int i = 1; i <= 8; i++)
            {
                <tr>
                    <td>@i</td>
                    <td>@horarios[i - 1]</td>
                
                    @for (int j = 1; j <= 6; j++)
                    {
                        string checkBoxName = "dia_" + j + "mod_" + i;
                        <td>@Html.CheckBox(checkBoxName)</td>
                    }
                    
                    @if (i == 3)
                    {   
                        <tr>
                            <td></td>
                            <td></td>
                            <td colspan="6"><b>A L M U E R Z O</b></td>
                        </tr>
                    }
                </tr>
            }
	    </table>
	    <br />
    </div>
    <div style="width:50%;float:left">
	    <h2>Seleccione preferencias para la sala</h2>
        <br />
	    <h3 style="display:inline">Capacidad:</h3>
        @Html.TextBox("capacity", "0")
        <input type="button" name="inc" value="^" onclick="increaseCapacity()" />
        <input type="button" name="dec" value="v" onclick="decreaseCapacity()" />
        <br />
        <input type="submit" value="Buscar" />
    </div>
</form>

<script type="text/javascript">
    function increaseCapacity() {
        document.getElementById("capacity").value++;
    }
    function decreaseCapacity() {
        document.getElementById("capacity").value--;
    }
</script>